<tr class="booking_<%= booking.id %>">
  <td><%= booking.therapist.full_name %></td>
  <td><%= booking.start_time %></td>
  <td><%= booking.end_time %></td>
  <% if booking.status  %>
    <td><%= booking.status %></td>
  <% else %>
    <td>Pending Confirmation </td>
  <% end %>
  <td><%= (booking.start_time.to_date - Date.today).to_i  %></td>
  <td><%= (booking.end_time - booking.start_time).to_i  %></td>
  <td><%= link_to "View booking", booking_path(booking) %></td>
  <% if current_user.therapist %>
    <td>
      <%= link_to booking_path(booking, booking: { status: true }), method: :patch, notice: "Booking confirmed" do %>
       <img src="https://image.flaticon.com/icons/svg/138/138773.svg" width="50" text-align="center"></img>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
      <i class="fa fa-trash destroy_dose"></i>
    <% end %>
  </td>
</tr>
<!-- Partial of the table data: Class code of booking.id -->
