<div class="banneri"  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(<%= asset_path "session-stars.png" %>)">
  <div class="clock">
  <div class="clock__second"></div>
  <div class="clock__minute"></div>
    <div class="clock__hour"></div>
  <div class="clock__axis"></div>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
  </div>
  <div class="banner-info" style="padding-bottom: 120px">
    <% if current_user.full_name == nil %>
   Hello: <%= current_user.email %><
    <% else %>
    Hello:<%= current_user.full_name %></div>
    <% end %>
  </div>



<div class="container">
  <h1>Booking Details</h1>
  <h2><%= @booking.therapist.first_name %> <%= @booking.therapist.last_name %></h2>
  <h2>Starting from:</h2> <p><%=@booking.start_time%></p>
  <h2>Ending On:</h2> <p><%= @booking.end_time %></p>

  <p><strong>Starting in:</strong> <%= (@booking.start_time.to_date - Date.today).to_i %> Days</p>
  <p><strong>Booking Duration: </strong><%= (@booking.end_time - @booking.start_time).to_i  %> Days</p>
  <% if @booking.status %>
    <p><strong>Status: </strong><%= @booking.status %></p>
  <% else %>
    <p><strong>Status: </strong>Pending Confirmation</p>
<% end  %>
  <p><%= @booking.description %></p>
<%= link_to "Edit your booking", edit_booking_path(@booking) %>
<br>
<%= link_to "Review your Therapist", new_booking_review_path(@booking) %>
<br>
<%= link_to "View bookings", bookings_path(@booking) %>
<%= link_to "Chat", booking_chat_rooms_path(@booking), :method => :post %>


<%= @booking.client_id %>
