<div class="bannerx"  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(<%= asset_path "session-stars.png" %>)">
  <div class="clock">
  <div class="clock__second"></div>
  <div class="clock__minute"></div>
    <div class="clock__hour"></div>
  <div class="clock__axis"></div>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
    <section class="clock__indicator"></section>
  </div>
  <div class="banner-info" style="padding-bottom: 120px">
    <% if current_user.full_name == nil %>
   Hello: <%= current_user.email %><
    <% else %>
    Hello: <%= current_user.full_name %>
    <% end %>
    <br>
    Welcome to your Booking Info
  </div>

</div>
  <div class="cardx">
    <div class="thumbnail"><img class="left" src="https://res.cloudinary.com/dnqrlagsz/image/upload/v1552398008/computer-contemporary-cup-1251833.jpg"/></div>
    <div class="right">
      <h1><%= (@booking.start_time / 60 / 60.round(2)) %> Hours</h1>
      <div class="author"><img src="https://randomuser.me/api/portraits/men/95.jpg"/>
        <h4><%= @booking.therapist.first_name %> <%= @booking.therapist.last_name %></h4>
      </div>
      <div class="separator"></div>
      <p><%= @booking.description %></p>
      <strong>Status: <%= @booking.status %></strong>
    </div>
    <div class="abso">
     <h3><%= (@booking.start_time).strftime("%dth") %> </h3>
     <p><strong><%= (@booking.start_time).strftime("%B") %></strong></p></div>
       <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Booking">
        <%= link_to booking_chat_rooms_path(@booking), :method => :post do %>
          <div class="fab1"><i class="far fa-edit fa-3x"></i></div></a>
        </span>
        <% end %>

        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
          <div class="fab2"><i class="far fa-registered fa-3x"></i>
          </div>
        </span>

        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
          <div class="fab3"><i class="fas fa-book-reader fa-3x"></i>
          </div>
        </span>
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Chatroom">
          <div class="fab"><i class="fas fa-video fa-3x""></i>
          </div>
        </span>
          </div>

    <%= link_to "Chat", booking_chat_rooms_path(@booking), :method => :post , class: "button-primary"%>

    <%= link_to "Review your Therapist", new_booking_review_path(@booking), class: "button-primary" %>
