<div class="container">
  <h1>Booking Details</h1>
  <h2><%= @booking.therapist.first_name %> <%= @booking.therapist.last_name %></h2>
  <h2>Starting from:</h2> <p><%=@booking.start_time%></p>
  <h2>Ending On:</h2> <p><%= @booking.end_time %></p>

  <p><strong>Starting in:</strong> <%= (@booking.start_time.to_date - Date.today).to_i %> Days</p>
  <p><strong>Booking Duration: </strong><%= (@booking.end_time - @booking.start_time).to_i  %> Days</p>
  <% if @booking.status %>
    <p><strong>Status: </strong><%= @booking.status %></p>
  <% else %>
    <p><strong>Status: </strong>Pending Confirmation</p>
<% end  %>
  <p><%= @booking.description %></p>
<%= link_to "Edit your booking", edit_booking_path(@booking) %>
<br>
<%= link_to "Review your Therapist", new_booking_review_path(@booking) %>
<br>
<%= link_to "View bookings", bookings_path(@booking) %>
<%= link_to "Chat", booking_chat_rooms_path(@booking), :method => :post %>


<%= @booking.client_id %>
