<div class="container">
  <h1>Booking Details</h1>
  <h2>Starting from:</h2> <p><%=@booking.start_date%></p>
  <h2>Ending On:</h2> <p><%= @booking.end_date %></p>

  <p><strong>Starting in:</strong> <%= (@booking.start_date - Date.today).to_i %> Days</p>
  <p><strong>Booking Duration: </strong><%= (@booking.end_date - @booking.start_date).to_i  %> Days</p>
  <% if @booking.status %>
    <p><strong>Status: </strong>Confirmed <img src="https://image.flaticon.com/icons/svg/240/240103.svg" width="20"></img></p>
  <% else %>
    <p><strong>Status: </strong>Pending Confirmation <img src="https://image.flaticon.com/icons/svg/240/240260.svg" width="20"></img></p>
<% end  %>


<%= link_to "Edit your booking", edit_booking_path(@booking) %>
<%= link_to "Review your Therapist", new_user_review_path(@booking) %>
