<div id=<%="myModal_#{index}"%> class="modal-window">
<div class="banneri"  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(<%= asset_path "female.jpg" %>)">
</div>

<div class="holding-container">

  <div class="clipped-border" >
    <img src="https://source.unsplash.com/featured/?{people}<%= (1..1000).to_a.sample %>" id="clipped">
  </div>

    <div class="conatiner-ls">
      <div class="container-description">
        <h1><%= therapist.first_name %> <%= therapist.last_name %></h1>
        <h2><%= therapist.address %></h2>
        <%= therapist.bio %>
     </div>
     <div id="map"
      style="width: 70%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      >
      </div>
      <br>
  </div>


  <div class="container-rs">
    <div class="container-reviews">
      <h2>Reviews</h2>

      </div>
    </div>
  </div>

</div>
<div class="bottom">
  <div class="primary-button">Price</div>
  <%= link_to "Book", new_user_booking_path(therapist), class: "primary-button"%>
</div>


</div>
