<div class="container">
    <!-- Search -->
  <%= form_tag users_path, method: :get, remote: true, id: "search-form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Browse a therapist or field of expertise",
      id: "input"
    %>
    <%= submit_tag "Search", id: "submit" %>
  <% end %>
  <!-- End Search -->

<div class="container-holder">

  <div class="cards-user">
    <% @therapists.each do |therapist| %>
      <figure class="snip1336">
        <img src="https://res.cloudinary.com/dnqrlagsz/image/upload/v1552391869/card-photo.png" alt="sample87" />
        <figcaption>
        <img src="https://source.unsplash.com/featured/?{people}<%= (1..1000).to_a.sample %>" alt="profile-sample4" class="profile" />
          <div class="card-details">
            <h4><%= therapist.first_name %></h4>
          <div class="review-stars">
            <% numreviews = therapist.therapist_reviews.count %>
              <% if numreviews != 0 %>
                <% sum = 0 %>
              <% therapist.therapist_reviews.each do |review| %>
                <% sum += review.rating %>
              <% end %>
              <% stars = sum / numreviews  %>
              <% stars.times do %>
                <i class="far fa-star"></i>
              <% end %>
            </div>
            </div>
              <h4><%= therapist.last_name %></h4>
              <h4><span><%= therapist.expertise %></span></h4>
        <% end %>
        <br>
          <%= link_to "Book", user_path(therapist), class: 'primary-button' %>
          <button class="primary-button" data-toggle="modal" data-target="#myModal_<%= therapist.id %>"> View </button>
        <!--   <button class="primary-button" data-toggle="modal" data-target="#myModal_<%= therapist.id %>"> Book </button> -->
          <%# link_to "Book", user_path(therapist), class: 'follow' %>
        </figcaption>
      </figure>
      <%= render "show_modal", therapist: therapist %>
    <% end %>
    </div>
  </div>
</div>

  <!--AJAX Search Form -->
<script>
  let formSelect = document.getElementById("search-form");
  let searchInput = document.getElementById("input");
  let submitButton = document.getElementById("submit");

  searchInput.addEventListener("keyup", (event) => {
    submitButton.click();
  });
</script>
<!-- End AJAX Search Form -->
