<div class="container">
  <% @therapists.each do |therapist| %>

  <p><%= therapist.first_name %></p>
  <h2><%= therapist.last_name %></h2>
  <p><%= therapist.address %></p>
  <%= link_to "View", user_path(therapist), class: "btn btn-primary" %>
  <br>
  <% end %>
  <br>
  <%= link_to "Home", root_path, class: "btn btn-primary" %>
</div>

