
<div class="container">
    <!-- Search -->
  <%= form_tag users_path, method: :get, remote: true, id: "search-form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Browse a therapist or field of expertise",
      id: "input"
    %>
    <%= submit_tag "Search", id: "submit" %>
  <% end %>
  <!-- End Search -->

<div class="big-box" style="padding: 0px 10px;">
  <div class="cards-user">
    <% @therapists.each do |therapist| %>
      <figure class="snip1336">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
        <figcaption>
          <img src="https://source.unsplash.com/featured/?{people}<%= (1..1000).to_a.sample %>" alt="profile-sample4" class="profile" />
        <h2><%= therapist.first_name %></h2>
        <h2><%= therapist.last_name %><span><%= therapist.expertise %></span></h2>
        <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
          <%= link_to "Book", user_path(therapist), class: 'info' %>
          <button class="follow" data-toggle="modal" data-target="#myModal_<%= therapist.id %>"> View </button>
          <%# link_to "Book", user_path(therapist), class: 'follow' %>
        </figcaption>
      </figure>
      <%= render "show_modal", therapist: therapist %>
    <% end %>
  </div>
</div>
</div>

  <!--AJAX Search Form -->
  <script>
    let formSelect = document.getElementById("search-form");
    let searchInput = document.getElementById("input");
    let submitButton = document.getElementById("submit");

    searchInput.addEventListener("keyup", (event) => {
      submitButton.click();
    });
  </script>
  <!-- End AJAX Search Form -->
