<div class="banneri"  style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(
<% if current_user.gender == "female"%>
<%= asset_path "female.jpg" %>
<% else %>
<%= asset_path "male.jpg" %>
)">
</div>

<div class="avatr-hex">

</div>

<div class="holding-container">

    <div class="conatiner-ls">
      <div class="container-description">
      </div>
      <div class="container-languages">
      </div>
    </div>
    <div class="container-rs">
      <div class="container-reviews">
        <div class="card"></div>
      </div>
      <div class="price">
      </div>
      <div class="btn"></div>
    </div>

</div>


</div>




<div class="container">
  <div class="left-box">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <table class="table table-bordered">
    <tbody>
      <thead>
        <th>Expertise</th>
        <th>Language</th>
        <th>Prices</th>
        </thead>
        <tr>
          <td> <%= @user.expertise%></td>
          <td> <%= @user.languages%></td>
          <td><<p>Amount: <%= humanized_money_with_symbol(@user.price) %></p></td>
          </tr>
    </tbody>
  </table>
      <div class="align-buttons">
        <%= link_to users_path do %>
          <div class="btn btn-secondary">
            Back
          </div>
          <% end  %>
        <%= link_to new_user_booking_path(@user) do %>
          <div class="btn btn-primary">
            Book
          </div>
          <% end %>
        </div>
  </div>
  <%= link_to "See reviews", booking_reviews_path(@user) %>
    </div>

<div
  id="map"
  style="width: 100%;
  overflow: hidden;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

