<div class="container-booking">
  <div class="booking-box">
    <div class='booking-title'>BOOKING</div>
    <%= simple_form_for([therapist, booking]) do |f| %>
      <div class="booking-box-details">
        <div class="form-inputs">
          <%= f.input :start_time %>
        </div>
        <div class="form-inputs">
          <%= f.input :description, label: 'Message the therapist',
          placeholder: "Briefly describe your story so the therapist can provide the best support...", input_html: { class: 'input-description'} %>
        </div>
        <div class="form-actions">
          <div class="booking-update-btn">
            <%= link_to "Back", users_path, class: "secondary-button" %>
            <%= f.button :submit, class: "primary-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

