<div class="container">
  <div class="tables-left">


    <!--UPCOMING SESSIONS TABLE -->
    <div class="upcoming-table">
      <div class="upcoming-table-title">UPCOMING SESSIONS</div>
      <div class="upcoming-description-row">
        <div class="col">THERAPIST</div>
        <div class="col">SCHEDULE</div>
        <div class="col">AMOUNT</div>
        <div class="col">STATUS</div>
      </div>
      <div class="upcoming-details">
        <% @booking.order("start_time asc").each do |booking| %>
          <div class="upcoming-details-row">
            <% if current_user.therapist %>
              <div class="col upcoming-labels" data-label="User">
                <%= image_tag "logo.png", class: "avatar-therapist" %>
                <%= booking.client.full_name %>
              </div>
            <% else %>
              <div class="col upcoming-labels" data-label="User">
                <%= image_tag "logo.png", class: "avatar-therapist" %>
                <%= booking.therapist.full_name %>
              </div>
            <% end %>
            <div class="col" data-label="Schedule"><%= booking.start_time %></div>
            <div class="col" data-label="Amount"><%= booking.therapist.price %> (Pending)</div>
            <div class="col" data-label="Status">
              <% if current_user.therapist %>
                <%= simple_form_for booking, class: "status-form", method: :patch, url: booking_path(booking) do |f| %>
                    <%= f.input :status, label: false, collection: ["Pending", "Confirmed", "Cancelled"], input_html: { multiple: false, class: "multiple-select" }  %>
                    <%= f.button :submit, class: "submit-status-button" %>
                <% end %>
              <% else %>
                <%= booking.status %>
              <% end %>
            </div>
          </div>
<<<<<<< HEAD
          <hr />
        <% end %>
      </div>
    </div>


    <div class="bottom-tables">

      <!-- HISTORY TABLE -->
      <div class="history-table">
        <div class="history-title">HISTORY</div>
          <div class="history-description-row">
            <% if current_user.therapist %>
              <div class="col" data-label="Client">CLIENT</div>
            <% else %>
              <div class="col" data-label="Therapist">THERAPIST</div>
            <% end %>
            <div class="col" data-label="Date">DATE</div>
          </div>
          <div class="history-details">
            <% @booking.order("start_time asc").each do |booking| %>
              <div class="history-details-row">
                <% if current_user.therapist %>
                  <div class="col history-labels" data-label="User">
                    <%= booking.client.full_name %>
                  </div>
                <% else %>
                  <div class="col history-labels" data-label="User">
                    <%= booking.therapist.full_name %>
                  </div>
                <% end %>
              <div class="col" data-label="Date"><%= booking.start_time %></div>
              </div>
              <hr />
            <% end %>
        </div>
      </div>

      <!-- REVIEWS TABLE -->
      <div class="reviews-table">
        <div class="reviews-title">REVIEWS</div>
          <div class="reviews-card">
            <div class="card-body">
              <% @booking.order("start_time asc").each do |booking| %>
              <%= raise %>
                <% if current_user.therapist %>
                  <h3 class="card-title"><%= booking.client.full_name %></h3>
                <% else %>
                  <h3 class="card-title"><%= booking.therapist.full_name %></h3>
                <% end %>
                <p class="card-text">

              <% end %>






              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<!--SCROLL BARS-->
<script>

  //UPCOMING TABLE

  const upcomingDetails = document.querySelector(".upcoming-details");
  const upcomingLabels = document.querySelectorAll(".upcoming-labels");

  if (upcomingLabels.length > 5) {
    upcomingDetails.classList.add("tables-overflow");
  }

  //HISTORY TABLE

  const historyDetails = document.querySelector(".history-details");
  const historyLabels = document.querySelectorAll(".history-labels");



  if (historyLabels.length > 5) {
    historyDetails.classList.add("tables-overflow");
  }


  //REVIEWS TABLE

</script>
