<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sessions - Therapy made easy</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <title><%= meta_title %></title>
    <meta name="description" content= "Find a specialist, start your therapy and change your life - wherever you are.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= https://res.cloudinary.com/dnqrlagsz/image/upload/v1553155787/cover.png %>" />
    <meta property="og:description" content= "Find a specialist, start your therapy and change your life - wherever you are.">
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["@sessionsforall"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="Find a specialist, start your therapy and change your life - wherever you are.">
    <meta name="twitter:creator" content="<%= DEFAULT_META["@sessionsforall"] %>">
    <meta name="twitter:image:src" content="<%= https://res.cloudinary.com/dnqrlagsz/image/upload/v1553155787/cover.png %>">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body style="background: white">
    <% if action_name == "home" %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/navbar_pages' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div>
      <div style="min-height: calc(100vh - 150px)">
        <%= yield %>
      </div>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <%= yield :after_js %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
